body{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.menu-principal{
    width: 100%;
    background-color: black;
    height: 80px;
}
main{
    margin: 0 auto;
    width: 980px;
    position: relative;
}
.logo{
    float: left;
    padding: -1px;
    width: 70%;
}
h1{
    color: blue;
}
.redes-sociais ul li{
    margin-left: 10px;
    padding: 5px;
    display: inline-block;
    float: left;
    
    
}
.redes-sociais{
    width: 24%;
    float: right;
}
.header-2{
    width: 100%;
    background-color:#ffff;
    border-bottom: 3px solid #efefef;

}
.menu ul li{
    margin-left: 15px;
    display: inline-block;
    color: black;
    
}
.menu ul li a{
    text-decoration: none;
    color: black;
    font-size: 17px;
    text-transform: uppercase;

}
.menu{
    width: 70%;
    float: left;
}
.busca{
    width: 30%;
    float: right;
}

